<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles-<%=`${theme}`%>.css" />
</head>
<body>
<h1>Hello <%= email || 'World' %>!</h1>
<a href="/set-theme/light">Light theme</a>
<a href="/set-theme/dark">Dark theme</a>
<nav>
    <ul>
        <li><a href="./articles">Articles</a></li>
    </ul>
</nav>
<a href="/logout">Exit</a>
</body>
</html>